* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2b87d1;
  user-select: none;
}
.main-nav {
  display: flex;
  position: absolute;
  justify-content: center;
  height: 48px;
  width: 100%;
  font-size: 18px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
  z-index: 1;
  top: 0;
  flex-wrap: nowrap;
}
.nav-bar-cont {
  display: flex;
  justify-content: space-between;
  max-width: 1010px;
  padding: 0 20px;
  width: 100%;
}
.main-nav .first-two-nav-comp,
.main-nav .second-two-nav-comp {
  display: flex;
}
.main-nav .first-two-nav-comp .first-one,
.main-nav .first-two-nav-comp .second-one,
.second-nav-bar-components-first-comp,
.second-nav-bar-components-second-comp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 15px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  flex-wrap: nowrap;
}
.first-one:hover,
.second-one:hover,
.second-nav-bar-components-first-comp:hover,
.second-nav-bar-components-second-comp:hover {
  background-color: #f2f2f2;
}
/*******************************************************************/
body.lose {
  -webkit-animation: redBody 1s;
}
.insq1.lose {
  -webkit-animation: redBody 1s;
}
body.win {
  -webkit-animation: whiteBody 0.6s;
}
.block.win {
  -webkit-animation: whiteBodyForBlocks 0.6s;
}
@-webkit-keyframes redBody {
  0% {
    background: #e26a6a;
  }
  100% {
    background: #2b87d1;
  }
}
@-webkit-keyframes whiteBodyForBlocks {
  50% {
    background: #3084d8;
  }
  100% {
    background: #2573c1;
  }
}
@-webkit-keyframes whiteBody {
  50% {
    background: #3a9cec;
  }
  100% {
    background: #2b87d1;
  }
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*******************start menu********************/
.startMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: startScreenAppearAni 0.65s;
}
@keyframes startScreenAppearAni {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.logo {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100px;
  height: 100px;
  -webkit-animation: logoAnimation 2.1s linear infinite;
}
@-webkit-keyframes logoAnimation {
  0% {
    opacity: 0.6;
  }
  45% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
.fsquare,
.ssquare,
.tsquare,
.fthsquare {
  width: 45px;
  height: 45px;
  background: #fff;

  border-radius: 8px;
  display: block;
}

.fthsquare {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fthsquare .insq {
  background: #2b87d1;
  width: 30px;
  height: 30px;
}
.title {
  color: #fff;
  font-size: 61px;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 30px;
}
.mtp {
  font-size: 24px;
  color: #fff;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 15px;
}
.startBtn {
  padding: 12px 30px;
  border: none;
  background: #ffd154;
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  border-radius: 3px;
  margin-top: 20px;
  cursor: pointer;
  transition: background 0.24s;
}
.startBtn:hover {
  background: #ececec;
}
.startMenu.hide {
  display: none;
}
/********************play zone*********************/
.level {
  font-size: 28px;
  color: #accbe4;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
.level span {
  color: #fff;
}
.board section {
  display: flex;
}
.block {
  height: 120px;
  width: 120px;
  background: #2573c1;
  margin: 8px;
  border-radius: 10px;
  cursor: pointer;
}
.block.flash {
  -webkit-animation: flash 0.6s;
}
@-webkit-keyframes flash {
  2% {
    background: #eef6ff;
  }
  20% {
    background: #eef6ff;
  }
  100% {
    background: #2573c1;
  }
}
.playZone.hide {
  display: none;
}
/********************lose screen*********************/
.loseMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo1 {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 80px;
  height: 80px;
}
.fsquare1,
.ssquare1,
.tsquare1,
.fthsquare1 {
  width: 36px;
  height: 36px;
  background: #fff;

  border-radius: 8px;
  display: block;
}

.fthsquare1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fthsquare1 .insq1 {
  background: #2b87d1;
  width: 24px;
  height: 24px;
}
.title1 {
  color: #fff;
  font-size: 24px;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}
.endBtns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.saveSc {
  padding: 12px 30px;
  border: none;
  background: #ffd154;
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  border-radius: 3px;
  margin-top: 20px;
  cursor: pointer;
  transition: background 0.24s;
}
.tryAg {
  padding: 12px 30px;
  border: none;
  background: #95c3e8;
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  border-radius: 3px;
  margin-top: 20px;
  cursor: pointer;
  transition: background 0.24s;
}
.saveSc:hover {
  background: #ececec;
}
.tryAg:hover {
  background: #ececec;
}
.loseMenu.hide {
  display: none;
}
.levelAtTheEnd {
  font-size: 80px;
  color: #fff;
}
.endTextUseless {
  margin-top: 35px;
  color: #fff;
  font-size: 18px;
}
